#{extends 'main.html' /}
#{set title:'Home' /}

<div class ="tabs">
	<ul class="navigation">
		<li><a>Tab A</a></li>
		<li><a>Tab B</a></li>
		<li><a>Tab C</a></li>
		<li>D</li>
	</ul>
</div>

Hello There
<p>
XML response returned is...
</p>
${content}

requested

&nbsp;
<p>
< id="dashboard">
<h3> You have requested customer ${cust.id}</h3>
<p>
<h3><a href="@{Application.customers}"> Link here</a> </h3>
<h3><a href="http://www.playframework.org">play framework</a></h3>
<p>
<h3><strong>Name	: ${cust.firstName} ${cust.lastName}</strong></h3>
<p>
<h3>Address	: ${cust.street}</h3>
<p>
<h3>City	: ${cust.city}</h3>


<p>${errors}
<p>${flash}
<p>${lang}
<p>${messages}
<p>${out}
<p>${param}
<p>${play.toString()}
<p>${request}
<p>${session.isDirty}