#{extends 'main.html' /}
#{set title:'Home' /}

<div class ="tabs">
	<ul class="navigation">
		<li><a>Tab A</a></li>
		<li><a>Tab B</a></li>
		<li><a>Tab C</a></li>
		<li>D</li>
	</ul>
</div>

Hello There
<p>
XML response returned is...
</p>
${content}

requested


&nbsp;
<p>
<div id="dashboard">
<h3> You have requested customer ${cust.id}  
<p>
<h3><a href="@{Application.customers}" Link here /}
<h3><a href="http://www.playframework.org">play framework</a>
<p>
<h3><strong>Name	: ${cust.firstName} ${cust.lastName}</strong>
<p>
<h3>Address	: ${cust.street}
<p>
<h3>City	: ${cust.city}

</div>

<p>${errors}
<p>${flash}
<p>${lang}
<p>${messages}
<p>${out}
<p>${param}
<p>${play.toString()}
<p>${request}
<p>${session.isDirty}